.button{
	-fx-text-fill: "Purple";
	-fx-font-family: "Muller Next";
}

/**This below is a class style sheet that makes the hexagon buttons for the project. The way
 * I got it is using SVG Path Builder. It is a website to get the shape coordinates for the button. 
 */
.buttonHexagon{
	-fx-shape:"M 450 450 L 300 450 L 250 350 L 300 250 L 450 250 L 500 350 L 450 450 ";
}



