.button{
	-fx-text-fill: "Purple";
	-fx-font-family: "Muller Next";
}

/**This below is a class style sheet that makes the hexagon buttons for the project. The way
 * I got it is using SVG Path Builder. It is a website to get the shape coordinates for the button. 
 */
.buttonHexagon{
	-fx-shape:"M 400 350 L 300 400 L 300 500 L 400 550 L 500 500 L 500 400 L 400 350";
}
